<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <template>
      <v-app>
        <v-main>
          <template>
            <v-card max-width="500" class="mx-auto">
              <v-toolbar color="pink" dark>
                <v-toolbar-title>生日提醒</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>

              <v-list two-line>
                <v-list-item-group multiple active-class="pink--text">
                  <template v-for="(item, index) in items">
                    <v-list-item :key="item.title">
                      <template v-slot:default="{ active, toggle }">
                        <v-list-item-content>
                          <v-list-item-title v-text="item.name"></v-list-item-title>
                          <v-list-item-subtitle class="text--primary" v-text="item.type"></v-list-item-subtitle>
                          <v-list-item-subtitle v-text="item.date"></v-list-item-subtitle>
                        </v-list-item-content>

                        <v-list-item-action>
                          <v-list-item-action-text v-text="item.remainDays" style="font-size:16px">
                          </v-list-item-action-text>
                        </v-list-item-action>
                      </template>
                    </v-list-item>

                    <v-divider v-if="index + 1 < items.length" :key="index"></v-divider>
                  </template>
                </v-list-item-group>
              </v-list>
            </v-card>
          </template>
        </v-main>
      </v-app>
    </template>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./calendar.js"></script>
  <script>
    var items = [
      {
        name: '叶云鹏',
        type: '农历',
        date: "1990-9-12",
      },
      {
        name: '孙诗情',
        type: '农历',
        date: "1992-8-5",
      },
      {
        name: '王国兰',
        type: '农历',
        date: "1966-10-21",
      },
      {
        name: '叶双明',
        type: '农历',
        date: "1966-5-26",
      },
      {
        name: '叶云婷',
        type: '农历',
        date: "1992-4-18",
      },
      {
        name: '结婚纪念日',
        type: '公历',
        date: "2019-8-5",
      },
      {
        name: '恋爱纪念日',
        type: '公历',
        date: "2016-12-17",
      },
    ]
    // 对月份和日期补0，保证两位数
    var handleDate = function (date) {
      var arr = date.split('-')
      var m = parseInt(arr[1])
      m = m < 10 ? '0' + m : m
      var d = parseInt(arr[2])
      d = d < 10 ? '0' + d : d
      return `${arr[0]}-${m}-${d}`
    }
    // 获取今天的日期
    var today = handleDate(`${new Date().getFullYear()}-${new Date().getMonth() + 1}-${new Date().getDate()}`)
    items.map(item => {
      item.date = handleDate(item.date)
      var dateArr = item.date.split('-')
      // 获取今年的目标日期
      var targetDate = item.type == '公历' ? handleDate(`${new Date().getFullYear()}-${dateArr[1]}-${dateArr[2]}`) : handleDate(calendar.lunar2solar(new Date().getFullYear(), dateArr[1], dateArr[2]).date)
      if (new Date(today).getTime() == new Date(targetDate).getTime()) { // 刚好
        item.remainDays = 0
      } else if (new Date(today).getTime() < new Date(targetDate).getTime()) { // 没过
        item.remainDays = (new Date(targetDate).getTime() - new Date(today).getTime()) / (24 * 60 * 60 * 1000)
      } else { // 过了
        targetDate = item.type == '公历' ? handleDate(`${new Date().getFullYear() + 1}-${dateArr[1]}-${dateArr[2]}`) : handleDate(calendar.lunar2solar(new Date().getFullYear() + 1, dateArr[1], dateArr[2]).date)
        item.remainDays = (new Date(targetDate).getTime() - new Date(today).getTime()) / (24 * 60 * 60 * 1000)
      }
    })
    items = items.sort(function (x, y) { return x.remainDays - y.remainDays })
  </script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        items
      }),
    })
  </script>
</body>

</html>
